<tr class="user inactive" id="user_<%= user.id %>">
	<td class="user-name">
		<%= inline_svg "inactive_checkbox.svg", class: "checkbox inactive-checkbox" %>
		<%= inline_svg "active_checkbox.svg", class: "checkbox active-checkbox" %>
		<%= user.first_name %> <%= user.last_name %>
		<%= link_to "delete", user, method: :delete, class: "delete-link",  data: {confirm: "Sure you want to delete #{user.first_name} #{user.last_name}?" } %>
		<%= link_to "edit", edit_user_path(user), class: "edit-link" %>
	</td>
	<td>
		<%= user.email %>
	</td>
	<td class="hide-mobile">
		<%= user.city %>
	</td>
	<td class="hide-mobile">
		<%= user.status %>
	</td>
	<td class="user-created-at hide-mobile">
		<%= time_ago_in_words(user.created_at) %> ago 
		<%= inline_svg "clock.svg" %>
	</td>
</tr>
