<div id="users-index">
	<div class="container">
		<div class="user-index-wrapper">
			<div id="users-index-header">
				<div class="user-count">
					<%= pluralize(User.all.count, "user") %>
				</div>
				<div class="actions">
					<%= link_to "#!", class: "delete-button" do %>
						<%= inline_svg "delete.svg", class: "delete-icon" %>
					<% end %>
					<%= link_to "#!", class: "edit-button" do %>
						<%= inline_svg "edit.svg", class: "edit-icon" %>
					<% end %>
				</div>
			</div>
			<table>
				<thead>
					<tr>
						<th>
							<%= inline_svg "inactive_checkbox.svg" %> Name
						</th>
						<th>Email</th>
						<th class="hide-mobile">Phone</th>
						<th class="hide-mobile">City</th>
						<th class="hide-mobile">Status</th>
						<th class="hide-mobile">Date Created</th>
					</tr>
				</thead>
				<tbody>
					<%= render @users %>
				</tbody>
			</table>
		</div>
	</div>
</div>
