<div id="pages-home">
	<div id="intro">
		<div class="container">
			<div class="tagline">
				Earn $1,000 cash bonus or more driving for Uber and Lyft. Guaranteed.
			</div>
			<div class="description">
				DriverFlex opens the door to lucrative cash bonuses in 5 minutes or less. Valid U.S. driver’s license, 21 years of age, and over 3 years of driving experience required.
			</div>
			<div class="actions">
				<%= link_to new_user_registration_path, class: "button primary" do %>
					<%= inline_svg "car.svg" %>
					<span class="text">Let's Get Started</span>
				<% end %>

				<%= link_to "#", class: "button white", id: "learn-more" do %>
					<%= inline_svg "down.svg" %>
					<span class="text">Learn More</span>
				<% end %>
			</div>

			<div class="pricing">
				It's free to sign up
			</div>
		</div>
	</div>

	<div id="checkpoints">
		<div class="container">
			<ul>
				<li>
					<%= inline_svg "check.svg" %>
					<span class="text">Rake in cash bonuses</span>
				</li>
				<li>
					<%= inline_svg "check.svg" %>
					<span class="text">Set your own hours</span>
				</li>
				<li>
					<%= inline_svg "check.svg" %>
					<span class="text">Earn $30 per hour</span>
				</li>
				<li>
					<%= inline_svg "check.svg" %>
					<span class="text">Be your own boss</span>
				</li>
				<li>
					<%= inline_svg "check.svg" %>
					<span class="text">Easy 5 minute signup</span>
				</li>
			</ul>
		</div>
	</div>

	<div id="how-it-works">
		<div class="container">
			<ul>
				<li id="signup-section">
					<div class="svg-wrapper">
						<%= inline_svg "signup.svg" %>
					</div>
					<div class="title">
						Create Account
					</div>
					<div class="description">
						Sign up with DriverFlex. It’s free and takes 5 minutes or less!  Then, keep an eye out for emails from Uber and Lyft. You’ll need to verify your identity with both services.
					</div>
				</li>

				<li id="inspect-section">
					<div class="svg-wrapper">
						<%= inline_svg "inspect.svg" %>
					</div>
					<div class="title">
						Inspect Your Car
					</div>
					<div class="description">
						Schedule appointments for Uber and Lyft to inspect your car. If you don’t have a car, you can rent one from Uber to increase your cash bonus by up to $500.
					</div>
				</li>

				<li id="cash-section">
					<div class="svg-wrapper">
						<%= inline_svg "cash.svg" %>
					</div>
					<div class="title">
						Win Cash bonus
					</div>
					<div class="description">
						After you drive about one month, automatically receive your cash bonus. If you rent your car through Uber, receive your cash bonus on your first trip.
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div id="recommendations">
		<div class="container">
			<div class="rec-section">
				<%= image_tag "avatar_0.jpg" %>
				<div class="text">
					“Wow DriverFlex. Just, wow. Thanks for giving me the chance to make the most out of driving for Uber. Can't thank you guys enough!"
				</div>
				<div class="name">
					Vilhjalmur Helena
				</div>
				<div class="handle">
					@helenainthehouse
				</div>
			</div>

			<div class="rec-section">
				<%= image_tag "avatar_1.jpg" %>
				<div class="text">
					"A beautiful, lucrative service. What did I do to deserve this? <3"
				</div>
				<div class="name">
					Jennifer Lin
				</div>
				<div class="handle">
					@thejenniestlin
				</div>
			</div>

			<div class="rec-section">
				<%= image_tag "avatar_2.jpg" %>
				<div class="text">
					"Didn't believe my kids when they told me to try this out. Making good money now even though I'm partially retired."
				</div>
				<div class="name">
					Abby Kethel
				</div>
				<div class="handle">
					@himynameisabby
				</div>
			</div>

			<div class="rec-section">
				<%= image_tag "avatar_3.jpg" %>
				<div class="text">
					"Running my Uber car rental service just got easier. Now my employees and I make more money for the same work."
				</div>
				<div class="name">
					Jeffrey Sunderman
				</div>
				<div class="handle">
					@jeffreysundermanofficial
				</div>
			</div>
		</div>
	</div>

	<div id="next-steps">
		<div class="next-step-section" id="claim-reward">
			<div class="title">
				Claim your reward!
			</div>
			<div class="description">
				Signup with Driverflex and collect your $1,000 cash bonus now. It's free!
			</div>
			<%= link_to new_user_registration_path, class: "button primary" do %>
				<%= inline_svg "car.svg" %>
				<span class="text">Let's Get Started</span>
			<% end %>
		</div>

		<div class="next-step-section" id="more-questions">
			<div class="title">
				Any questions?
			</div>
			<div class="description">
				Shoot us an email and we'll answer you back within 24 hours.
			</div>
			<%= link_to "#!", class: "button white" do %>
				<%= inline_svg "email.svg" %>
				<span class="text">Email Us Now</span>
			<% end %>
		</div>
	</div>
</div>
