<div id="header">
	<div class="container">
		<%= render partial: "shared/logo" %>
		
		<div class="actions">
			<%= link_to "Support", "#" %>
			<% if user_signed_in? %>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign In", new_user_session_path %>
				<%= link_to new_user_registration_path do %>
					Create Account 
					<%= inline_svg "next.svg" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
