<div id="header" class="<%= header_type %>">
	<div class="container">
		<%= render partial: "shared/logo" %>
		
		<div class="actions">
			<% if user_signed_in? %>
				<% if current_user.is_admin? %>
					<%= link_to "Users", users_path %>
				<% end %>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "Sign In", new_user_session_path %>
				<%= link_to new_user_registration_path do %>
					Create Account 
					<%= inline_svg "next.svg" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
