<div id="sidebar">
	<div class="logo-wrapper">
		<%= render partial: "shared/logo" %>
		<div id="close-sidebar">
			<%= inline_svg "exit.svg" %>
		</div>
	</div>
	<ul class="actions">
		<% unless user_signed_in? %>
			<li>
				<%= link_to new_user_registration_path do %>
					Create Account 
					<%= inline_svg "next.svg" %>
				<% end %>
			</li>
			<li>
				<%= link_to "Sign In", new_user_session_path %>
			</li>
		<% end %>
		<% if user_signed_in? && current_user.is_admin? %>
			<li>
				<%= link_to "Users", users_path %>
			</li>
		<% end %>
		<li>
			<%= link_to "Terms and Conditions", terms_path %>
		</li>
		<li>
			<%= link_to "Privacy Policy", privacy_path %>
		</li>
		<li>
			<%= mail_to "hello@driverflex.com", "Contact" %>
		</li>
		<% if user_signed_in? %>
			<li>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			</li>
		<% end %>
	</ul>
</div>

<div id="sidebar-overlay"></div>
