<!DOCTYPE html>
<html>
  <head>
    <title>Driverflex</title>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%= Rails.application.secrets.google_api_key %>"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/header" unless current_page?(new_user_registration_path) %>
    <%= render partial: "layouts/flash" unless flash.empty? %>
    <%= yield %>
    <%= render partial: "layouts/footer" unless current_page?(new_user_registration_path) %>
  </body>
</html>
